:root {
    --dark-blue: #0C103B;
    --light-gray: rgb(235, 235, 235);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--dark-blue);
    background-color: var(--light-gray);

    height: 100vh;

}

nav {
    font-family: 'Bebas Neue', cursive;

    background-color: var(--dark-blue);

    width: 100%;

    position: sticky;
    top: 0;
    z-index: 1;


    padding: 15px 0;
    margin-bottom: 40px;

    font-size: 26px;

    box-shadow: 0 5px 15px var(--dark-blue);
}


.logo {
    margin-left: 50px;

    font-size: 30px;
    font-weight: bold;

    font-family: 'Lobster', cursive;
}

.logo a {
    text-decoration: none;
    color: var(--light-gray);

    text-shadow: 2px 2px 20px var(--light-gray);

    display: inline-block;
    transition: all .5s ease;
}

.logo a:hover {
    transform: scale(1.2, 1.2);
}

nav ul {
    width: 55%;
    margin-right: 20px;

    float: right;

    display: flex;
    justify-content: space-around;
}

nav ul li {
    width: 100px;
    height: 50px;
    list-style: none;

    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--light-gray);

    padding: 2px 5px;

    text-shadow: 2px 2px 20px var(--light-gray);

    transition: all .5s ease;

    display: inline-block;
}

nav ul li a:hover {
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    border-radius: 5px;

    transform: scale(1.2, 1.2);
}

nav #icon {
    font-size: 34px;
    margin-right: 25px;
    color: var(--light-gray);
    text-shadow: 2px 2px 20px var(--light-gray);

    cursor: pointer;

    float: right;
    display: none;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;

    margin-top: 10px;
}

.text {
    font-family: 'Bebas Neue', cursive;

    text-align: center;

    width: 65%;

    margin: auto;
    margin-top: 70px;
    padding: 100px 50px;

    border: var(--dark-blue) 3px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--dark-blue);

    font-size: 50px;

    text-shadow: 2px 2px 20px var(--dark-blue);
}


.myDiv,
.myMovie {
    width: 280px;
    height: 450px;

    background-color: var(--light-gray);

    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--dark-blue);

    margin: 20px;
    margin-bottom: 80px;

    overflow: hidden;

    text-align: center;

    transition: all .5s ease;
    filter: blur(.79px);
}

.myMovie {
    filter: none;
}

.myDiv:hover {
    transform: scale(1.06, 1.06);
    filter: blur(0px);

}


.myDiv img {
    width: 100%;
    height: 70%;

    border-radius: 10px 10px 0 0;

    box-shadow: 5px 5px 15px var(--dark-blue);

}

.myDiv a {
    color: #000;
    text-decoration: none;
}

.tit {
    height: 30%;
    font-size: 21px;
    color: var(--dark-blue);

    overflow: hidden;
}

.tit h4 {
    margin-top: 40px;
}



@media (max-width:768px) {
    nav #icon {
        display: inline-block;
    }

    nav ul {
        position: fixed;
        left: -1000px;
        top: 69.4px;

        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    nav ul li a:hover {
        border: 0;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        left: 0;

        background-color: var(--dark-blue);
    }
}

@media all and (min-width:768px) {
    nav {
        display: block;
    }
}


@media (max-width:1276px) and (min-width:992px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .text {
        width: 80%;
    }
}

@media (max-width:637px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .myDiv {
        width: 65%;
    }
}


/**movieDetails style */
.myMovie {
    margin-right: 20px;
}

.myMovie img {
    width: 100%;
    height: 100%;
}

.details {
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--dark-blue);

    margin: 20px;
    margin-bottom: 80px;

    overflow: hidden;

    padding: 0 50px;
}

.details h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;

    text-align: center;
    word-spacing: 3px;

    margin: 40px 0;
}

.details h5 {
    font-size: 20px;
    margin: 20px 0;
}


.selectedMovie {
    display: flex;
    justify-content: space-evenly;
}

.myMovie {
    width: 25%;
}

.details {
    width: 62%;
}

@media (max-width:992px) {

    .selectedMovie {
        display: flex;
    }

    .myMovie {
        width: 30%;
    }

    .details {
        width: 65%;
    }
}

@media (max-width:768px) {

    .selectedMovie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myMovie {
        width: 50%;
    }

    .details {
        width: 95%;
        padding: 1rem;
    }
}

@media (max-width:576px) {

    .selectedMovie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myMovie {
        width: 70%;
    }

    .details {
        width: 95%;
    }
}